GEMINI_API_KEY=AQ.Ab8RN6I66WGufaHtsMtMs_3FlauyaSL029z1pYZGLOMkOdWBGQs
DATABASE_URL=postgresql://postgres:shethhetvi1@db.quwdghifhmoqfglrllib.supabase.co:5432/postgres
JWT_SECRET_KEY=6eaab1da3819b29258199b80592af4caaa3188fce5ab0ed1fef8274c0942867b
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
